body {
background: lightgray;
}

p {
margin: 0 0 1.5rem 0;
}

.container{
  widows: 80%;
  margin: 0 auto;
}

.myPhoto {
  transform: rotate(90deg);
  width: 200px;
  height: 170px;
  margin: 2% 2% 2% -3%;
}

.myName{
  background: midnightblue;
  padding:  10px 20px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: darkgray;
  border-top: 5px solid lightblue;
  } 

  .text-center {
    line-height: 2.5;
  }

  .col-md-8 {
  background: white;
  margin: 6% 0 0 2%;
  }


